body {
	background-color: black;
}

h1 {
	color: white;
	margin-left: 190px;
}

img {
	width: 40px;
	margin-bottom: 10px;
}

input[type=button] {
	color: white;
	width: 150px;
	height: 30px;
	margin: 5px;
	border-radius: 6px;
	background-color: #808080;
	font-size: 15px;
	border: none;
	outline: none;
}

input[type=button]:hover {
	opacity: 0.9;
}

input[type=button]:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

ul {
	color: white;
	font-size: 20px;
	border-color: white;
	border-width: 22px;
	border: 1px solid white;
	min-width: 600px;
	width: 600px;
	padding: 10px;
	padding-left: 30px;
}

#divcronometro {
	margin-left: 160px;
}

#divbotoes {
	min-width: 640px;
}